:root {
  /* Colours */
  --color-bg: #87abe1; /* page background /*

  /* Header */
  --color-head-bg: #d75294;

  /* Logotype */
  --color-logotype-bg: #0d223e;
  --color-text-logotype: #e6edf3;
  --font-logotype-size: 2.5rem;

  /* Global menu */
  --color-menu-bg: #2e74d1;
  /* Links */
  --color-link-bg: #d1e4ff;
  --color-link-hover: #87abe1; /* used */
  --color-link-active: #d1e4ff; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 2.5rem;
  --font-sub1-size: 1.5rem;
  --font-h2-size: 2rem;
  --font-h3-size: 1.5rem;
  --color-headline-bg: #0d223e;
  --color-headline-text-page: #d1e4ff;

  /* Tekst */
  --color-text: #0d223e;
  --color-text-inverted: #d1e4ff;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #2e74d1;
  --color-cta-card-bg: #0d223e;
  /* news-cards */
  --color-news-bg: #509bff;
  --color-news-bg-inverted: #e78bcb;
  --color-cta-newscard-bg: #e78bcb;
  --color-cta-newscard-bg-inverted: #509bff;

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 1rem;
  --headline2-size: 1.5rem;
  --headline3-size: 1.5rem;
  --bodytext-size: 2rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1.2rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #2e74d1;
  --color-infobox-1-bg: #d75294;
  --color-infobox-2-bg: #e78bcb;
}
