:root {
  /* Colours */
  --color-bg: #75d7cf; /* page background /*

  /* Header */
  --color-head-bg: #fe852c;

  /* Logotype */
  --color-logotype-bg: #0e1618;
  --color-text-logotype: #ffffff;
  --font-logotype-size: 2.5rem;

  /* Global menu */
  --color-menu-bg: #ffcb64;
  /* Links */
  --color-link-bg: #e8edff;
  --color-link-hover: #fbb833; /* used */
  --color-link-active: #fe852c; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 2.5rem;
  --font-sub1-size: 1.5rem;
  --font-h2-size: 2rem;
  --font-h3-size: 1.5rem;
  --color-headline-bg: #fe852c;
  --color-headline-text-page: #ffffff;

  /* Tekst */
  --color-text: #0e1618;
  --color-text-inverted: #0e1618;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #fff2d9;
  --color-cta-card-bg: #fb6833;
  /* news-cards */
  --color-news-bg: #fff2d9;
  --color-news-bg-inverted: #ffde9e;
  --color-cta-newscard-bg: #fb6833;
  --color-cta-newscard-bg-inverted: #fe482c;

  /* Fonts */
  --font-family-sans: ui-sans-serif;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 1rem;
  --headline2-size: 1.5rem;
  --headline3-size: 1.5rem;
  --bodytext-size: 2rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1.2rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #fff2d9;
  --color-infobox-1-bg: #ffde9e;
  --color-infobox-2-bg: #edca87;
}
